# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
dist/
build/
.vscode/

# Environment files (Dono client aur server ke liye)
.env
.env.local
.env.development
.env.test
.env.production
**/client/.env
**/server/.env